.player-hud {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 1;
}

.health-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}
.health-bar-wrapper img {
  width: 1rem;
}

.health-bar {
  width: 200px;
  height: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
}

.health-fill {
  width: 100%;
  height: 100%;
  background-color: hsl(var(--hue, 120), 100%, 50%);
  transition: background-color, width 0.3s ease;
}
