.player-hud {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 1;
}

.health-bar {
  width: 200px;
  height: 10px;
  margin-bottom: 8px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
}

.health-fill {
  width: 100%;
  height: 100%;
  background-color: hsl(var(--hue, 120), 100%, 50%);
  transition: background-color, width 0.3s ease;
}
